:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
}

.title {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.numCards {
  font-size: 1rem;
  font-weight: 500;
}
.flip-card {
  width: 40rem;
  height: 12rem;
  margin: 5rem 0rem;
  perspective: 1000px;
}

.author-quote-pair {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.author-container,
.quote-container {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.232);
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-1rem);
  -webkit-backface-visibility: hidden;
  /* Safari */
  /* backface-visibility: hidden; */
}

.flip-card:hover .author-quote-pair {
  transform: rotateY(180deg) translateX(-1rem);
}

/* Style the front side (fallback if image is missing) */
.quote-container {
  color: white;
}

/* Style the back side */
.author-container {
  color: white;
  transform: rotateY(180deg);
  display: flex;
  gap: 1rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.arrow {
  font-size: 1rem;
  height: 2rem;
  background-color: rgba(190, 158, 158, 0.318);
  border: 0;
  border-radius: 1rem;
}

.author-pic {
  width: 15rem;
  border-radius: 0.5rem;
}
